
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Report</title>
    <style>
        body { font-family: DejaVu Sans, sans-serif; }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Ware Report</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Imported Quantity</th>
                <th>Image</th>
                <th>Imported</th>
                <th>Exported</th>
                <th>Warehouse From</th>
                <th>Warehouse Loc</th>
                <th>Warehouse</th>
            </tr>
        </thead>
        <tbody>
            {% for ware in wares %}
            <tr>
                <td>{{ ware.id }}</td>
                <td>{{ ware.name }}</td>
                <td>{{ ware.description }}</td>
                <td>{{ ware.price }}</td>
                <td>{{ ware.imported_quantity }}</td>
                <td>Image: <img height="60px" width="70px" src="{{ ware.image.url }}" alt="{{ ware.name }}"></td>
                <td>{{ ware.imported }}</td>
                <td>{{ ware.exported }}</td>
                <td>{{ ware.warehouse_from }}</td>
                <td>{{ ware.warehouse_loc }}</td>
                <td>{{ ware.warehouse }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>